body {
    font-family: Poppins, Arial;
    margin: 0;
    background: #eef2f3;
    padding: 20px;
    transition: 0.3s ease-in-out;
}

body.dark {
    background: #0f172a;
    color: #fff;
}

h1.title {
    text-align: center;
    padding: 20px;
    background: #3b82f6;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

body.dark h1.title {
    background: #1e3a8a;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.form-section, .portfolio-section {
    flex: 1;
    min-width: 350px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

body.dark .form-section,
body.dark .portfolio-section {
    background: #1e293b;
    color: white;
    border: 1px solid #475569;
}

/* Inputs */
.form-section input,
.form-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

body.dark .form-section input,
body.dark .form-section textarea {
    background: #0f172a;
    color: white;
    border: 1px solid #475569;
}

button {
    padding: 10px 15px;
    background: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #2563eb;
}

/* Dark mode button */
.toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.project-input {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #fafafa;
}

body.dark .project-input {
    background: #0f172a;
    border: 1px solid #475569;
}

.skills-badge {
    display: inline-block;
    background: #e0f2fe;
    color: #0369a1;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 20px;
    font-size: 14px;
}

body.dark .skills-badge {
    background: #1e40af;
    color: white;
}

.project-card {
    padding: 15px;
    background: #f8fafc;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 10px;
}

body.dark .project-card {
    background: #0f172a;
    border: 1px solid #475569;
}

/* Profile image preview */
#image-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px dashed #9ca3af;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
}

#image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body.dark #image-preview {
    border: 2px dashed #475569;
}

/* Portfolio Image */
.portfolio-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
